.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
  margin: 20px;
}

.title {
  text-align: center;
  margin-top: 20px;
  right: 50%;
  
}

@media screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .countryCard {
    height: 400px;
    width: 100%;
  }
}
